<header>
  <h1>Select a Flight</h1>
</header>

<section id="tabs">
  <ul>
    <% @dates.each do |d| %>
      <li><a href="#<%= d.strftime("%Y-%m-%d") %>" data-flights="<%= Flight.where(depart: d.beginning_of_day..d.end_of_day).count %>"><%= d.strftime("%b %d") %></a></li>
    <% end %>
  </ul>

  <div id="2012-09-27">Loading Sep 27</div>
  <div id="2012-09-28">Loading Sep 28</div>
  <div id="2012-09-29">Loading Sep 29</div>
  <div id="2012-09-30">Loading Sep 30</div>
  <div id="2012-10-01">Loading Oct 1</div>
</section>


<% content_for :inline_javascript do %>
  
<% end %>