<header>
  <h1>Select a Flight</h1>
</header>

<section id="tabs">
  <ul>
    <% @dates.each do |d| %>
      <li><a href="#<%= d.strftime("%Y-%m-%d") %>" data-flights="<%= Flight.where(depart: d.beginning_of_day..d.end_of_day).count %>"><%= d.strftime("%b %d") %></a></li>
    <% end %>
  </ul>

  <div id="tickets"></div>
  <div id="2012-09-27">Loading Sep 27</div>
  <div id="2012-09-28">Loading Sep 28</div>
  <div id="2012-09-29">Loading Sep 29</div>
  <div id="2012-09-30">Loading Sep 30</div>
  <div id="2012-10-01">Loading Oct 1</div>
  
  <div id="error">
    <h2>Whoops, unable to pull flights.</h2> 
    <p>Sorry about that, <a href='#'>Click here</a> to try again.<p>
  </div>
  
  <div id="loading">
    <h2>Just a minute while we pull up your flight</h2>
  </div>
</section>

<section id="confirm">
  <div class="flight-review">
    <table>
      <tr>
        <th>Base Price:</th>
        <td id="price">$432</td>
      </tr>
      <tr>
        <th>Govt. Taxes and Fees:</th>
        <td id="fees">$123</td>
      </tr>
      <tr class="total">
        <th>Trip Total:</th>
        <td id="total">$555</td>
      </tr>
    </table>
  </div>

  <div id="login">
    <form>
      <h4>Please login to book flight:</h4>
      <span id="login_error"></span>
      <p>
        <label>Email:</label>
        <input type='email' name='email' id='email' />
      </p>
      <p>
        <label>Password:</label>
        <input type='password' name='password' id='password' />
      </p>
      <p>
        <input type='submit' value="Login" /> 
      </p>
    </form>
  </div>
    
  <form class="confirm-purchase">
    <input type="submit" value="Confirm Purchase &amp; Select Seats" />
  </form>
</section>


<% content_for :inline_javascript do %>
  
<% end %>