<header>
  <h1>Select a Flight</h1>
</header>

<section id="tabs">
  <ul>
    <li><a href="#sep-27" data-flights="8">Sep 27</b></a></li>
    <li><a href="#sep-28" data-flights="6">Sep 28</a></li>
    <li><a href="#sep-29" data-flights="3" class="active">Sep 29</a></li>
    <li><a href="#sep-30" data-flights="4">Sep 30</a></li>
    <li><a href="#oct-1" data-flights="1">Oct 1</a></li>
  </ul>

  <div id="sep-27">
    show flights for 27
  </div>
  <div id="sep-28">
    show flights for 28
  </div>
  <div id="sep-29">
    show flights for 29
  </div>
  <div id="sep-30">
    show flights for 30
  </div>
  <div id="oct-1">
      show flights for 1
  </div>
</section>


<% content_for :inline_javascript do %>
  
<% end %>