<table>
  <thead>
    <tr>
      <th>Depart</th>
      <th>Arrive</th>
      <th>Flight #</th>
      <th>Routing</th>
      <th>First Class</th>
      <th>Coach</th>
    </tr>
  </thead>
  
  <tr>
    <td>8:55 AM</td>
    <td>12:40 PM</td>
    <td>622</td>
    <td>1 stop</td>
    <td><a href="#">$411</a></td>
    <td><a href="#">$235</a></td>
  </tr>
  
  <tr>
    <td>9:50 AM</td>
    <td>12:45 PM</td>
    <td>55</td>
    <td>1 stop</td>
    <td><a href="#">$411</a></td>
    <td><a href="#">$235</a></td>
  </tr>
  
  <tr>
    <td>10:30 AM</td>
    <td>12:10 PM</td>
    <td>1343</td>
    <td>Nonstop</td>
    <td><a href="#">$411</a></td>
    <td><a href="#">$235</a></td>
  </tr>
  
  <tr>
    <td>10:45 AM</td>
    <td>2:15 PM</td>
    <td>2345</td>
    <td>1 stop</td>
    <td><a href="#">$411</a></td>
    <td><a href="#">$235</a></td>
  </tr>
  
  <tr>
    <td>8:55 AM</td>
    <td>12:40 PM</td>
    <td>45</td>
    <td>1 stop</td>
    <td><a href="#">$411</a></td>
    <td><a href="#">$235</a></td>
  </tr>
</table>