<header>
  <h1>Reserve a Seat</h1>
</header>

<section id="question">
  <h3>Question</h3>
  <p></p>
</section>
  

<section id="seats">
  <ul id="first_class">
    <li>
      <span>Row 1</span>
      <ul class="row premium" data-row="1">
        <li><a href="#" data-seat="a">Seat A</a></li>
        <li class="premium b"></li>
        <li class="aisle"></li>
        <li class="premium c"></li>
        <li class="premium d"></li>
      </ul>
    </li>
    <li id="row_2">
      <span>Row 2</span>
      <ul class="row">
        <li class="premium a"></li>
        <li class="premium b"></li>
        <li class="aisle"></li>
        <li class="premium c"></li>
        <li class="premium d"></li>
      </ul>
    </li>
  </ul>
  <ul id="economy_class">
    <li id="row_3">
      <span>Row 3</span>
      <ul class="row">
        <li class="a"></li>
        <li class="b"></li>
        <li class="c"></li>
        <li class="aisle"></li>
        <li class="d"></li>
        <li class="e"></li>
        <li class="f"></li>
      </ul>
    </li>
    <li id="row_4">
      <span>Row 4</span>
      <ul class="row">
        <li class="a"></li>
        <li class="b"></li>
        <li class="c"></li>
        <li class="aisle"></li>
        <li class="d"></li>
        <li class="e"></li>
        <li class="f"></li>
      </ul>
    </li>
    <li id="row_5">
      <span>Row 5</span>
      <ul class="row">
        <li class="a"></li>
        <li class="b"></li>
        <li class="c"></li>
        <li class="aisle"></li>
        <li class="d"></li>
        <li class="e"></li>
        <li class="f"></li>
      </ul>
    </li>
    <li id="row_6">
      <span>Row 6</span>
      <ul class="row">
        <li class="a"></li>
        <li class="b"></li>
        <li class="c"></li>
        <li class="aisle"></li>
        <li class="d"></li>
        <li class="e"></li>
        <li class="f"></li>
      </ul>
    </li>
  </ul>
</section>


<section id="sidebar">
  <aside>
    <h2>About this seat</h2>
  </aside>
  <aside>
    <h2>Your Reservations</h2>
    <ul id="reservations"></ul>
  </aside>
</section>