<header class="seats-header">
  <h1>Reserve a Seat</h1>
</header>
  
<section id="seats">
  <h2>Question</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  
  <div class="seating-chart">
    <h3>- First Class -</h3>
    <ol class="first-class">
      <li class="row" data-row="1">
        <ol>
          <li><a class="available" data-seat="a" href="#">A</a></li>
          <li><a data-seat="b" href="#">B</a></li>
          <li><a data-seat="c" href="#">C</a></li>
          <li><a data-seat="d" href="#">D</a></li>
        </ol>
      </li>
      <li class="row" data-row="2">
        <ol>
          <li><a class="available" data-seat="a" href="#">A</a></li>
          <li><a class="available" data-seat="b" href="#">B</a></li>
          <li><a class="available" data-seat="c" href="#">C</a></li>
          <li><a data-seat="d" href="#">D</a></li>
        </ol>
      </li>
    </ol>
    
    <h3>- Economy Class -</h3>
    <ol class="economy-class">
      <li class="row" data-row="3">
        <ol>
          <li><a class="available" data-seat="a" href="#">A</a></li>
          <li><a data-seat="b" href="#">B</a></li>
          <li><a data-seat="c" href="#">C</a></li>
          <li><a class="available" data-seat="d" href="#">D</a></li>
          <li><a class="available" data-seat="e" href="#">E</a></li>
          <li><a class="available" data-seat="f" href="#">F</a></li>
        </ol>
      </li>
      <li class="row" data-row="4">
        <ol>
          <li><a data-seat="a" href="#">A</a></li>
          <li><a data-seat="b" href="#">B</a></li>
          <li><a data-seat="c" href="#">C</a></li>
          <li><a class="available" data-seat="d" href="#">D</a></li>
          <li><a class="available" data-seat="e" href="#">E</a></li>
          <li><a class="available" data-seat="f" href="#">F</a></li>
        </ol>
      </li>
      <li class="row" data-row="5">
        <ol>
          <li><a class="available" data-seat="a" href="#">A</a></li>
          <li><a class="available" data-seat="b" href="#">B</a></li>
          <li><a data-seat="c" href="#">C</a></li>
          <li><a data-seat="d" href="#">D</a></li>
          <li><a data-seat="e" href="#">E</a></li>
          <li><a data-seat="f" href="#">F</a></li>
        </ol>
      </li>
      <li class="row" data-row="6">
        <ol>
          <li><a class="available" data-seat="a" href="#">A</a></li>
          <li><a data-seat="b" href="#">B</a></li>
          <li><a data-seat="c" href="#">C</a></li>
          <li><a data-seat="d" href="#">D</a></li>
          <li><a data-seat="e" href="#">E</a></li>
          <li><a data-seat="f" href="#">F</a></li>
        </ol>
      </li>
      <li class="row" data-row="7">
        <ol>
          <li><a class="available" data-seat="a" href="#">A</a></li>
          <li><a class="available" data-seat="b" href="#">B</a></li>
          <li><a class="selected" data-seat="c" href="#">C</a></li>
          <li><a data-seat="d" href="#">D</a></li>
          <li><a data-seat="e" href="#">E</a></li>
          <li><a class="available" data-seat="f" href="#">F</a></li>
        </ol>
      </li>
      <li class="row" data-row="8">
        <ol>
          <li><a data-seat="a" href="#">A</a></li>
          <li><a data-seat="b" href="#">B</a></li>
          <li><a class="available" data-seat="c" href="#">C</a></li>
          <li><a class="available" data-seat="d" href="#">D</a></li>
          <li><a data-seat="e" href="#">E</a></li>
          <li><a data-seat="f" href="#">F</a></li>
        </ol>
      </li>
    </ol>
  </div>
  
  <aside>
    <h2>About This Seat</h2>
    
    <h2>Your Reservations</h2>
  </aside>
</section>
